<p>
  <strong>Sorry, I can't take on any new work</strong>: I am currently developing a new product, architected using messaging via rabbitmq, about a dozen microservices written in nodejs (and two in go), each hosted in their own docker containers, writing data to mongodb, redis, and mysql. The front end is mostly written in javascript using browserify and react.
</p>

<blockquote>
  <p>Jörg is one of the most competent software engineers I have worked with. He has a very sound knowledge of software architecture, particularly in the web-based applications. He is amongst the most experienced Ruby on Rails people in South Africa.</p>
  <small class="text-right"><% link_to "http://www.linkedin.com/in/grantbrewer", :title => "LinkedIn recommendation" do %>Grant <strong>Brewer</strong>
    <% end %></small>
</blockquote>

<p>The two biggest sites I have helped architect and develop are <%= link_to "contiki.com", "http://www.contiki.com" %> and <%= link_to "channel5.com", "http://www.channel5.com" %>, each attracting tens of <strong>millions</strong> of hits per month. I was part of the two-man team that developed the tournament manager software used at <strong>every</strong> ATP and WTA tennis tournament around the world - except Wimbledon.</p>

<h3>Technologies I am Currently Into</h3>
<p>javascript, nodejs, rabbitmq, mongodb, backbone, koa, react, go, Rails, browserify.</p>

<h3>Latest Books I've been Reading</h3>
<ul>
  <li>Enterprise Integration Patterns</li>
  <li>SOA Patterns</li>
  <li>Making it Right: Product Management for a Startup World</li>
  <li>The Web Application Hacker's Handbook</li>
  <li>Rabbitmq in Action</li>
  <li>User Onboarding</li>
  <li>Quirk Marketing Textbook</li>
  <li>Intercom on Customer Engagement</li>
  <li>Design Patterns in Ruby</li>
  <li>Getting Real</li>
  <li>User Experience: Practical Techniques</li>
  <li>Personal MBA</li>
</ul>
<%= link_to "More books ...", "/books", :title => "More books ..." %>

<hr/>

<h3>Rails Workshops/Courses</h3>
<p>So far I have given two intensive Rails <strong>training</strong> courses in Cape Town. They're probably more like workshops as we create an application from scratch using TDD. Each course had about four students.</p>

<h3>Personal Projects/Businesses</h3>
<ul>
  <li>I created <a href="http://www.blinkplan.com" title="Magazine pagination and flatplan and mapping app">Blinkplan</a>, an online tool for the magazine industry to create flatplans (also known as pagination or maps).</li>
  <li><a href="http://www.johnnymetrics.co.za" title="Crypto coin portfolio tracker?">Johnny Metrics</a> - a crypto coin portfolio tracker. You can import and then analyze your crypto trades.</li>
  <li><a href="http://www.findhelp.co.za" title="How do I find a therapist?">Find Help</a> - a directory to find therapists, psychologists and social workers.</li>
  <li>A long long time ago I created <%= link_to "AK47.tv", "http://brea.kfa.st/ak47/", :title => "an online art photography magazine" %> - an online art photography magazine, which had almost 4000 subscribers.</li>
  <li><a href="http://hat.jit.su" title="Online Scrum Planning Poker for Agile Projects">hat.jit.su</a>, which runs off <strong>node.js</strong>, websockets and <a hrf="http://angularjs.org/">angularjs</a>. Hatjitsu allows you to do realtime online SCRUM Planning Poker.</li>
  <li>I've experimented a little with UX on the command line - and created <%= link_to "forecast-cli", "https://npmjs.org/package/forecast-cli", :title => "a cli weather app" %> to display a weather forecast in your terminal.</li>
</ul>


<p>Please feel free to contact me if you would like to discuss any of your own future projects.</p>
