<p>The two biggest sites I have helped architect and develop are <%= link_to "contiki.com", "http://www.contiki.com" %> and <%= link_to "channel5.com", "http://www.channel5.com" %>, each attracting tens of <strong>millions</strong> of hits per month. Also, every ATP and WTA tennis tournament around the world uses the tournament manager software I helped develop.</p>

<blockquote>
  <p>Jörg is one of the most competent software engineers I have worked with. He has a very sound knowledge of software architecture, particularly in the web-based applications. He is amongst the most experienced Ruby on Rails people in South Africa.</p>
  <small class="text-right"><% link_to "http://www.linkedin.com/in/grantbrewer", :title => "LinkedIn recommendation" do %>Grant <strong>Brewer</strong>
    <% end %></small>
</blockquote>


<p>I believe in <a href="http://www.rubyonrails.com" title="Web Application Framework">Ruby on Rails</a> (RoR), HTML5, Agile web development, <a href="http://www.joelonsoftware.com" title="Clever guy">Joel on Software</a>, test driven development (TDD), The Pragmatic Programmers, rspec, git, <%= link_to "stackoverflow", "http://stackoverflow.com/users/117305/joerg" %>, javascript, <%= link_to "Backbone", "http://backbonejs.org/", :title => "Great Framework" %>, requirejs, <%= link_to "nodejs", "http://nodejs.org" %>, jasmine, and reading <%= link_to "books", "/books", :title => "Software books I have read" %>. Also, I am a <strong>Rails contributor</strong>, and have presented at <a href="http://groups.google.com/group/cape-town-ruby-brigade">Cape Town's Ruby Brigade</a>.</p>

<hr/>

<h3>Personal Projects</h3>
<p>I created <a href="http://www.blinkplan.com" title="Magazine pagination and flatplan software">Blinkplan</a>, an online tool for the magazine industry to create flatplans. Last year I launched <a href="http://www.findhelp.co.za" title="How do I find a therapist?">Find Help</a> - a directory to find therapists, psychologists and social workers.  A long long time ago I created <%= link_to "AK47.tv", "http://brea.kfa.st/ak47/", :title => "an online art photography magazine" %> - an online art photography magazine, which had almost 4000 subscribers.</p><p>To experiment with <strong>different technologies</strong>, I assembled 
<ul>
  <li><a href="http://hat.jit.su" title="Online Scrum Planning Poker for Agile Projects">hat.jit.su</a>, which runs off <strong>node.js</strong>, websockets and angularjs. Hatjitsu allows you to do realtime online SCRUM Planning Poker.</li>


<li>I've experimented a little with UX on the command line - and created <%= link_to "forecast-cli", "https://npmjs.org/package/forecast-cli", :title => "a cli weather app" %> to display a weather forecast in your terminal.</li></ul></p>
<p>Please feel free to contact me if you would like to discuss any of your own future projects.</p>
